
<div *ngIf="identity">

<p>hi! {{ identity.name }} </p>

</div>

<section class="avatar">
    <img src="/assets/wheat.png" alt="">
    <div>
        <div>
            <h1>Lorem ipsum, dolor sit amet </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic fuga sint quia sapiente expedita aperiam corporis sit, illo, amet in veritatis totam vitae ullam quibusdam, ad autem assumenda vel culpa.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, blanditiis? Debitis quod perferendis voluptatem magni necessitatibus nisi, quidem esse voluptate eligendi qui sapiente exercitationem corporis modi alias veniam magnam ipsum?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, blanditiis? Debitis quod perferendis voluptatem magni necessitatibus nisi, quidem esse voluptate eligendi qui sapiente exercitationem corporis modi alias veniam magnam ipsum?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, blanditiis? Debitis quod perferendis voluptatem magni necessitatibus nisi, quidem esse voluptate eligendi qui sapiente exercitationem corporis modi alias veniam magnam ipsum?</p>
        </div>
    </div>
        <footer>
            <ul>
                <li>Instagram</li>
                <li>Linkedin</li>
                <li>Contacto</li>
                <li>Subir</li>
            </ul>
        </footer>

</section>

