<div class="formulario">
            
    <form class="form" #crearForm="ngForm"  (ngSubmit)="onSubmit(crearForm)">


    
        <label for="title">titulo</label>
        <input class="input" type="text" name="title" #title="ngModel" [(ngModel)]="entrada.title">

        <textarea class="froala" [froalaEditor]="froalaOptions" name="content" #content="ngModel"
        [(ngModel)]="entrada.content"></textarea>
        
    
        <button class="submit" #edForm type="submit">Publicar</button>

    </form> 
</div>
